/*

1. background check for possibilities - full black canvas
2. work with about me section to create basic patterns and tools
    2.1 CSS + HTML to create the classes styles I can use for the other areas of the page
3. Main profile
4. Adjust Friends Tab
5. ...

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'SF Pro Text', 'Helvetica Neue', sans-serif;
}

/* MAIN BODY OF THE PAGE */
.profile-page.profile-custom-css {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #080205;
}


/* Main Layout -> All Cards */
.profile-layout .card {
    background: rgba(20, 5, 18, 0.75);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.838);
    box-shadow: 
    0 8px 30px rgba(0, 0, 0, 0.5),
    inset 0 3px 0 rgba(255, 255, 255, 0.819),
    inset 0 0 18px rgba(213, 64, 213, 0.915)
}

/* Left side -> Top Profile */

.card-header.starred {
    display: none;
}

.profile-avatar {
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.838);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(213, 64, 213, 0.915),
    inset 0 0 10px rgba(255, 255, 255, 0.838),
    inset 0 -1px 0 rgba(255, 255, 255, 0.819),
    0 0 0 1px rgba(160, 60, 180, 0.2);
}

.profile-display-name {
    display: none;
}

.profile-username {
    display: none;
}

.profile-tagline {
    color: white;
}

.profile-tagline::after {
    content: '';
    display: inline-block;
    width: 200px;
    height: 150px;
    margin-left: 50px;
    background-image: url('https://i.postimg.cc/RZP2GkFh/Geechii-idolsignature-2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.profile-mood {
    border-radius: 20px;
    background: rgba(20, 5, 18, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.838);
    box-shadow: 
    0 8px 30px rgba(0, 0, 0, 0.5),
    inset 0 3px 0 rgba(255, 255, 255, 0.819),
    inset 0 0 5px rgba(213, 64, 213, 0.915);
}

.mood-text {
    color: white;
}

/* Contact Links ( Buttons Top Profile Left Side )*/
.contact-link {
    display: inline-flex;
    border-radius: 28px;
    background: rgba(20, 5, 18, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.838);
    box-shadow: 
    0 8px 30px rgba(0, 0, 0, 0.5),
    inset 0 3px 0 rgba(255, 255, 255, 0.819),
    inset 0 0 5px rgba(213, 64, 213, 0.915);
    padding: 6px 20px;
    text-align: center;
    color: white;
    display: inline-block;
}

a.contact-link.boop-link {
    font-size: 0;
}

a.contact-link.boop-link::before {
    content: '⚡️ BOOST ME';
    font-size: 13px;
    color: rgb(255, 226, 60);
}

.profile-url-box {
    display: none;
}


.profile-boop-stats span:first-child {
    font-size: 0;
    display: none;
}
    
.viewer-boops {
    display: none;
}


/* LEFT SIDE -> FRIEND SECTION */

.friend-avatar {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.838);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(213, 64, 213, 0.915),
    inset 0 0 10px rgba(255, 255, 255, 0.838),
    inset 0 -1px 0 rgba(255, 255, 255, 0.819),
    0 0 0 1px rgba(160, 60, 180, 0.2);
}